.bootstrap-select{
    width: 100% !important;
}

.text-login{
    font-weight: bold;
    color: #eab211;
    font-size: 25px;
}

.text-login2{
    font-weight: bold;
    color: #eab211;
    font-size: 14px;
    margin-top: 10px !important;
}

.base-color{
    background-color: #eab211 !important;
    color: #ffffff !important;
}

.text-color-orange{
    color: #eab211 !important;
}

.rounded-img{
    background-color: #eab211;
    border-radius: 50%;
    height: 175px;
    border: 3px solid #eab211;
}

.img-custom{
    width:30%; 
    display: block; 
    margin: 15px auto;
}
.toggle-menu-spn i{
    color: #333 !important;
    margin-right: 1rem;
}

/* NAVBAR SYAHRU  */

.menu-navbar-spn li{
    display: inline-block;
    margin-right: 2rem;
}
.menu-navbar-spn .dropdown i{
    font-size: 2rem;
    color: #ED8D26;
}
.menu-navbar-spn .dropdown .badge{
    position: absolute;
    background-color: #932027;
    border: none;
    left: -15px;
    z-index: 3;
    top: -10px;
}

.menu-navbar-spn .dropdown-user img{
    border: 2px solid #ED8D26;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}
.menu-navbar-spn .dropdown-user .caret{
    color: #ED8D26;
}
.search-menu-spn i{
    color: #333;
}
.menu-navbar-spn .dropdown-user .dropdown-toggle h5{
    color: #333 !important;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: 500;
}
@media (max-width: 768px){
.page-header-content>.visible-elements {
    padding-top: 20px;
}
}
.header-spn .page-title{
    padding: 20px 0 20px 0;
}
.navigation .logo-spn{
    padding: 0 20px 8px 20px !important;
}
.logo-spn .sidebar-control{
    display: inline-block;
    padding: 0;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: -10px;
}
.logo-spn .sidebar-control i{
    color: #fff !important;
}
.logo-spn span{
    display: inline-block !important;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    vertical-align: middle;
}
@media (min-width: 769px){
.sidebar-xs .sidebar-main .navigation > .logo-spn > span {
    display: none !important;
}
}
.sidenav-spn img{
    width: 23px;
    height: 23px;
    margin-right: 5px;
}
.sidenav-spn li{
    font-size: 1.5rem !important;
}
.sidebar-spn{
    background: linear-gradient(38deg, rgba(230,120,58,1) 0%, rgba(230,186,62,1) 100%);
}
.sidebar-spn .navigation>li.active>a, .navigation>li.active>a:focus, .navigation>li.active>a:hover{
    background-color: #D5924A !important;
}
.sidebar-spn .navigation>li>a:hover{
    background-color: #D5924A;
}

/* FORM DISCUSSIONS  */
.img-discussion{
    height: 10vh;
    margin: 10px 0;
}

.name-discussion{
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px;
    color: #ffffff;
}

.box-answer{
    border: 1px solid #000;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #dadada;
}

.rating-box {
    color: #b7b7b7;
    height: 3rem;
    width: 25rem;
  }
  
  .rating-star{
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    padding: 0 2rem;
    position: relative;
    display: block;
    float:left;
  }
  
  .full-star:before {
    color: #f2b01e;
    content: "\2605";
    position: absolute;
    left: 0;
    overflow: hidden;
  }
  
  .empty-star:before {
    content: "\2605";
    position: absolute;
    left: 0;
    overflow: hidden;
  }
  
  .half-star:before {
    color: #f2b01e;
    content: "\2605";
    width: 50%;
    position: absolute;
    left: 0;
    overflow: hidden;
  }
  
  .half-star:after {
    content: '\2605';
    position: absolute;
    left: 1.5rem;
    width: 50%;
    text-indent: -1.5rem;
    overflow: hidden;
  }

.answer {
    margin-top: 40px;
}

/* BERANDA  */
.card-beranda{
    box-shadow: 0px 4px 20px rgba(205, 205, 227, 0.25);
    border: 1px solid #e5e5e5;
    padding: 3rem;
    text-align: center;
    background-color: #fff;
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 5px;
}
.card-beranda img{
    width: 120px;
    height: auto;
}
.card-beranda h4{
    color: #ED8D26;
    font-weight: 600;
}

/* ABSENSI  */
.btn-spn{
    background-color: #ED8D26;
    color: #fff;
    padding: 1rem 6rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    box-shadow: 0px 2px 5px rgba(68, 68, 68, 0.3);
    transition: 200ms;
}
.btn-spn:hover{
    background-color: rgb(206, 120, 28);
}
.card-spn{
    box-shadow: 0px 4px 20px rgba(205, 205, 227, 0.25);
    border: 1px solid #e5e5e5;
    padding: 2rem;
    background-color: #fff;
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 5px;
}

.absensi .btn-spn{
    margin-bottom: 0;
    padding: 0.9rem;
    width: 100%;
    font-weight: 500;
    margin-top: 2.1rem;
}
.absensi .table-responsive .btn-spn{
    padding: 0.5rem 1rem;
    margin-top: 0;
}
.absensi .pagination{
    border-color: #ED8D26;
    margin-top: 2rem;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    color: #fff !important;
    background-color: #ED8D26 !important;
}
.pagination>li>a, .pagination>li>span{
    border:1px solid #ED8D26 !important;
}
.absensi .pagination>li>a{
    color: #ED8D26;
}
.absensi .info{
    margin-bottom: 1rem;
}
.absensi .info h5{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 0;
}
.btn-close{
    z-index: 99;
    color: #932027;
    position: absolute;
    right: 3rem;
    cursor: pointer !important;
}
.btn-close i{
    cursor: pointer;
    font-size: 3rem;
}

/* TIMELINE AKTIVITAS */

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
    line-height: inherit;
  }
  
  /*----- TIMELINE ITEM -----*/
  .timeline-item {
    padding-left: 40px;
    position: relative;
  }
  .timeline-item:last-child {
    padding-bottom: 0;
  }
  
  /*----- TIMELINE INFO -----*/
  .timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  /*----- TIMELINE MARKER -----*/
  .timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
  }
  .timeline-marker:before {
    background: #ED8D26;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  .timeline-marker:after {
    content: "";
    width: 3px;
    background: #ED8D26;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
  }
  .timeline-item:last-child .timeline-marker:after {
    content: none;
  }
  
  .timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #ED8D26;
  }
  
  /*----- TIMELINE CONTENT -----*/
  .timeline-content {
    padding-bottom: 20px;
    margin-bottom: 0 !important;
  }
  .timeline-content h3{
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  .timeline-content p{
    margin-top: 5px;
    font-size: 1.3rem;
    color: rgb(145, 145, 145);
  }
  .timeline-content p:last-child {
    margin-bottom: 0;
  }
  
  /*----- TIMELINE PERIOD -----*/
  .period {
    padding: 0;
  }
  .period .timeline-info {
    display: none;
  }
  .period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB;
  }
  .period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
  }
  .period .timeline-content {
    padding: 40px 0 70px;
  }
  .period .timeline-title {
    margin: 0;
  }
  
  /*----------------------------------------------
      MOD: TIMELINE SPLIT
  ----------------------------------------------*/
  @media (min-width: 768px) {
    .timeline-split .timeline, .timeline-centered .timeline {
      display: table;
    }
    .timeline-split .timeline-item, .timeline-centered .timeline-item {
      display: table-row;
      padding: 0;
    }
    .timeline-split .timeline-info, .timeline-centered .timeline-info,
    .timeline-split .timeline-marker,
    .timeline-centered .timeline-marker,
    .timeline-split .timeline-content,
    .timeline-centered .timeline-content,
    .timeline-split .period .timeline-info,
    .timeline-centered .period .timeline-info {
      display: table-cell;
      vertical-align: top;
    }
    .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
      position: relative;
    }
    .timeline-split .timeline-content, .timeline-centered .timeline-content {
      padding-left: 30px;
    }
    .timeline-split .timeline-info, .timeline-centered .timeline-info {
      padding-right: 30px;
    }
    .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
      position: relative;
      left: -45px;
    }
  }
  
  /*----------------------------------------------
      MOD: TIMELINE CENTERED
  ----------------------------------------------*/
  @media (min-width: 992px) {
    .timeline-centered,
    .timeline-centered .timeline-item,
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-marker,
    .timeline-centered .timeline-content {
      display: block;
      margin: 0;
      padding: 0;
    }
    .timeline-centered .timeline-item {
      padding-bottom: 40px;
      overflow: hidden;
    }
    .timeline-centered .timeline-marker {
      position: absolute;
      left: 50%;
      margin-left: -7.5px;
    }
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-content {
      width: 50%;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    .timeline-centered > .timeline-item.period .timeline-content {
      float: none;
      padding: 0;
      width: 100%;
      text-align: center;
    }
    .timeline-centered .timeline-item.period {
      padding: 50px 0 90px;
    }
    .timeline-centered .period .timeline-marker:after {
      height: 30px;
      bottom: 0;
      top: auto;
    }
    .timeline-centered .period .timeline-title {
      left: auto;
    }
  }
  
  /*----------------------------------------------
      MOD: MARKER OUTLINE
  ----------------------------------------------*/
  .marker-outline .timeline-marker:before {
    background: transparent;
    border-color: #FF6B6B;
  }
  .marker-outline .timeline-item:hover .timeline-marker:before {
    background: #FF6B6B;
  }

.title-content h4{
  font-weight: 600;
  margin-right: 10px;
  display: inline-block;
}
.title-content i{
  font-size: 1.2rem;
}

/* Pengaturan  */
.card-pengaturan{
  box-shadow: 0px 4px 20px rgba(205, 205, 227, 0.25);
  border: 1px solid #e5e5e5;
  background-color: #fff;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  overflow: hidden;
}
.card-pengaturan .banner{
  position: relative;
}
.card-pengaturan .banner img{
  height: 250px;
  width: 100%;
  position: relative;
  object-fit: cover;
  object-position: top;
  filter: brightness(70%);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.card-pengaturan .banner button{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  padding: 0.5rem 3rem;
  font-size: 1.5rem;
}
.card-pengaturan .data-diri{
  padding: 2rem 2rem 0 2rem;
}
.card-pengaturan .data-diri img{
  margin-top: -8rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #ED8D26;
}
.card-pengaturan .ubah-profil{
  margin-top: -1rem;
  overflow: hidden;
  padding: 0 2rem 2rem 2rem;
}
.card-pengaturan .ubah-profil h3{
  color: #ED8D26;
  font-weight: bold;
}
.card-pengaturan .ubah-background{
  margin-top: -1rem;
  overflow: hidden;
  padding: 0 2rem 2rem 2rem;
}
.card-pengaturan .ubah-background img{
  width: 100%;
  margin-bottom: 1rem;
}
.card-pengaturan .ubah-background .btn-spn{
  width: 100%;
  padding: 0.6rem 0;
}
.card-pengaturan .ubah-background h3{
  color: #ED8D26;
  font-weight: bold;
}

/* MATA-PELAJARAN */
.nama-mapel {
    font-size: xx-large;
    color: #fff;
    text-align: left;
}

.tugas-text {
    text-align: left;
    color: #fff;
    font-size: 15px;
}

.card-mapel{
    box-shadow: 0px 4px 20px rgba(205, 205, 227, 0.25);
    border: 1px solid #e5e5e5;
    padding: 3rem;
    text-align: center;
    background-color: #fff;
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    background-image: url('../../img/bg-gundik.jpeg');
    background-repeat: round;
}

.button-space{
    text-align: left;
    margin-top: 20px;
}

.btn-danger-custom{
    background-color: #f44336;
    color: #fff;
    padding: 1rem 6rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    box-shadow: 0px 2px 5px rgba(68, 68, 68, 0.3);
    transition: 200ms;
}

/* GADIK */
.nama-gadik {
    font-size: 22px;
    color: #fff;
    text-align: center;
}

.gadik-text {
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.button-space2{
    text-align: center;
    margin-top: 20px;
}